* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  width: 100%;
  height: 14vh;
  background-color: rgb(19, 17, 17);
  display: flex;
  color: white;
  align-items: center;
  font-size: larger;
  
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-logo img {
  height: 15vh;
  width: auto;
}
main{
  overflow-x: hidden;
}
.poster {
  position: relative;
  height: 66vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(29px);
  transform: scale(1.1);
  z-index: 1;
}

.poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  gap: 1rem;
}

.post {
  height: 30vh;
  width: 12vw;
  border-radius: 0.3125rem;
}

.play-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #0c79d3e0;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  height: 7vh;
  margin-top: 1rem;
}
.play-btn i {
  font-size: 22px;
}
.play-btn:hover {
  background-color: #1175c7;
}

.anime-details {
  height: 42vh;
  width: 100vw;
  background-color: rgb(31, 29, 29);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 29, 29);
  height: 8vh;
  font-weight: 500;
  color: white;
  font-size: 2rem;
}

@media (max-width: 992px) and (min-height:500px) {
  header {
    height: 10vh;
  }
  .home-logo img {
    height: 11vh;
  }
  .poster {
    height: 55vh;
  }
  .post {
    height: 25vh;
    width: 16vw;
  }
  .play-btn {
    height: 5vh;
    font-size: 1rem;
    padding: 10px 20px;
  }
  .anime-details {
    padding: 2rem;
  }
  footer {
    font-size: 1.6rem;
  }
}
@media (max-width: 992px) and (max-height:550px) {
  header {
    height: 18vh;
  }
  .home-logo img {
    height: 18vh;
  }
  main{
    height: 142vh;
  }
  .poster {
    height: 84vh;
  }
  .post {
    height: 40vh;
    width: 17vw;
  }
  .play-btn {
    height: 9vh;
    font-size: 1rem;
    padding: 10px 20px;
  }
  .anime-details {
    padding: 2rem;
    height: 58vh;
  }
  footer{
    height: 9vh;
  }
}

@media (max-width: 820px) and (min-height:551px) {
  .poster {
    height: 50vh;
  }
  .post {
    height: 22vh;
    width: 25vw;
  }
  .play-btn {
    height: 5vh;
    font-size: 0.9rem;
    padding: 8px 18px;
  }
  footer {
    font-size: 1.4rem;
  }
}
@media (max-width:820px) and (max-height:499px) {
  header {
    height: 18vh;
  }
  .home-logo img {
    height: 18vh;
  }
  main{
    height: 142vh;
  }
  .poster {
    height: 84vh;
  }
  .post {
    height: 40vh;
    width: 17vw;
  }
  .play-btn {
    height: 9vh;
    font-size: 1rem;
    padding: 8px 16px ;
    width: 13vw;
  }
  .anime-details {
    padding: 2rem;
    height: 58vh;
  }
   footer {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .poster {
    height: 45vh;
  }
  .post {
    height: 21vh;
    width: 30vw;
  }
  h1 {
    font-size: 1rem;
  }
  .play-btn {
    height: 5vh;
    font-size: 0.8rem;
    padding: 6px 14px;
  }
  .anime-details {
    padding: 1.5rem;
    font-size: 0.9rem;
    height: 38vh;
  }
  footer {
    font-size: 1rem;
  }
}